#button_div {
  display: flex;
  justify-content: left;
}

ul {
  margin: 0;
  padding: 0;
}

#blue_bar {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dfeef7;
}

#blue_bar_left {
  display: flex;
  justify-content: left;
  align-items: left;
  font: normal normal bold 14px/17px DM Sans;
  color: #1f3951;
}

#blue_bar_center {
  display: flex;
  align-items: center;
  text-align: center;
  font: normal normal normal 14px/17px DM Sans;
}

#blue_bar_right {
  justify-content: right;
  align-items: right;
  font: normal normal medium 14px/18px DM Sans;
}

.blue_bar_text {
  font-size: 12px;
  font-family: Sans;
  color: #1f3951;
  font-family: "DM Sans";
}

#blue_bar_img {
  size: 12px;
}

.navbar {
  background-color: White;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  padding-left: 50px;
}

.navbar-logo img {
  size: 30px;
  color: #1f3951;
}

.navbar-links {
  align-items: center;
  list-style: none;
  font-size: 14px;
  display: flex;
  gap: 25px;
  font-family: "DM Sans";
}

.navbar-links li {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-links a {
  color: #1f3951;
  font-family: 'DM Sans';
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.navbar-icons {
  display: flex;
  gap: 10px;
}

.navbar-icons i {
  padding-right: 15px;
  color: #1f3951;
  cursor: pointer;
}

#sale {
  color: #ed4d4d;
}

#girl_sleep {
  width: 100%;
}

.navbar2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  top: 210px;
  background-color: #F9F7F6;
  padding: 25px;
}

.navbar2-items {
  display: flex;
  align-items: center;
}

.navbar2-items p{
  display: flex;
  font-family: 'DM Sans';
  opacity: 100%;
  font-weight: 500;
}

.navbar2-items img{
  display: flex;
  padding-right: 20px;
}

a {
  text-decoration: none;
}

body {
  width: 1440px;
  height: 5457px;
}

.button {
  border-color: #406c93;
  border-width: 2px;
  text-align: center;
  font-size: 13px;
  color: #406c93;
  margin-right: 20px;
  background-color: transparent;
  height: 50px;
  border-radius: 5px;
  font-family: "DM Sans";
  padding: 15px;
}

.button2 {
  border-color: white;
  border-width: 2px;
  text-align: center;
  font-size: 13px;
  color: #1f3951;
  margin-right: 20px;
  background-color: transparent;
  height: 50px;
  border-radius: 5px;
  font-family: "DM Sans";
  padding: 15px;
}

.button:hover {
  background-color: #406c93;
  color: white;
  cursor: pointer;
  transition: 1s;
}

#main_title {
  font-size: 52px;
  font-family: "DM Sans";
  color: #1f3951;
}

#italic_part {
  color: #406c93;
  align-self: left;
  font-size: 24px;
  font-family: "Bodoni Moda, SemiBold Italic";
}

#text_part {
  color: #122230;
  font-size: 16px;
  font-family: "DM Sans";
  width: 72%;
}

#main_div {
  width: 43%;
  margin-top: -500px;
  margin-left: 50px;
  transition: opacity 0.5s ease-in-out;
}

.slider-dot {
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 10px; 
}

.slider-dot.active {
  background-color: #406c93;
}

#slider_dots {
  align-items: center;
  position: absolute; 
  bottom: 10px; 
  left: 50%; 
  transform: translateX(-50%); 
  display: flex;
  justify-content: center;
}

.slider-dot2 {
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 10px; 
}

.slider-dot2.active {
  background-color: #406c93;
}

.slider-dots2 {
  text-align: center; 
  margin-top: -50px;
}


.blue_bar_text {
  font-family: "DM Sans";
  font-size: 14px;
}

.blue_bar_text a {
  font-family: "DM Sans";
  font-size: 13px;
  font-weight: 400;
  color: #1f3951;
}

.blue_bar_rtext {
  font-family: "DM Sans";
  font-size: 14px;
  font-weight: 500;
  color: #1f3951;
  text-decoration: none;
}

.hero {
  position: relative;
  top: 210px;
}

.hero p {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: italic normal 600 18px/27px "Bodoni Moda";
  color: #406c93;
}

.hero h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "DM Sans";
  font-size: 36px;
  color: #1f3951;
  font-weight: 700;
}

.sleeper-classes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
  top: 210px;
  padding: 40px;
  padding-left: 180px;
  padding-right: 180px;
  font-family: "DM Sans";
}

.bolded-sleeper {
  font-size: 17px;
  font-weight: 700;
  color: #1f3951;
  text-shadow: 0 5px 10px rgba(64, 108, 147, 0.5);
}

.sleepers {
  font-size: 17px;
  color: #1f3951;
  font-weight: 300;
}

.pillows-images {
  display: flex;
  padding-top: 20px;
}

.pprices {
  margin: 30px;
}
.pprices p {
  font-family: "DM Sans";
}

.pillow-name {
  font-weight: 700;
  font-size: 17px;
  color: #122230;
}

.pillow-desc {
  font-size: 13px;
  font-weight: 100;
  color: #646f78;
}

.prices {
  font-size: 16px;
  color: #1f3951;
  font-weight: 600;
}

.red-price {
  font-size: 16px;
  font-weight: 700;
  color: #ed4d4d;
}

.crossed-price {
  font-size: 16px;
  font-weight: 700;
  text-decoration: line-through;
  position: relative;
  bottom: 37px;
  left: 110px;
}

.discount-price {
  font-size: 13px;
  color: #ed4d4d;
  font-weight: 700;
  text-shadow: 0 5px 10px rgba(237, 77, 77, 0.5);
  position: relative;
  bottom: 40px;
}

#bed {
  margin-top: 200px;
}

#bed img {
  width: 1440px;
  height: 400px;
  object-fit: cover;
  margin-top: 80px;
}

.bed-description {
  bottom: 80%;
  margin-top: -300px;
  margin-left: 100px;
}

.bed-description p {
  font-family: "Bodoni Moda", Italic;
  color: #406c93;
  font-size: 18px;
  font-weight: 600;
}

.bed-description h1 {
  font-family: "DM Sans";
  font-weight: 700;
  color: #1f3951;
}

.button2 {
  border: none;
  border-radius: 4px;
  background-color: white;
  color: #406c93;
  font-family: "DM Sans";
  font-weight: 700;
}

#offers {
  display: flex;
  justify-content: space-evenly;
  margin-top: 200px;
}

.multiple-offers {
  position: relative; 
}

.multiple-offers img {
  width: 406px;
  height: 530px;
  transition: transform 0.3s ease; 
}

.multiple-offers img:hover {
  transform: scale(1.1); 
}

.whitepillow-desc,
.shop-nowlink {
  position: absolute; 
  bottom: 80%; 
  left: 20px; 
  transition: transform 0.3s ease;
}

#offers .whitepillow-desc {
  font-family: "DM Sans";
  font-weight: 700;
  color: #1f3951;
  font-size: 28px;
}

#offers .shop-nowlink {
  font-family: "DM Sans";
  font-weight: 700;
  color: #1f3951;
  font-size: 13px;
  border: #1f3951;
  text-decoration: underline;
}

.reviews {
  margin-top: 100px;
  background-color: #eef6fa;
  padding-top: 45px;
}

.container {
  text-align: center;
}

.happy-sleepers {
  align-items: center;
  width: 200%;
}

.happy-main {
  font-family: "DM Sans";
  font-weight: 700;
  color: #1f3951;
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.happy-description {
  font-family: "DM Sans";
  color: #122230;
}

.reviews-all {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 70px;
}

.review1 {
  background-color: white;
  border: white solid;
  border-radius: 10px;
  padding: 50px;
  padding-left: 30px;
  padding-bottom: 10px;
  text-align: center;
}

.review1 h1 {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 22px;
  color: #1f3951;
}

.review1 p {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  color: #122230;
}

.review1 h3 {
  font-family: "Bodoni Moda";
  font-weight: 600;
  font-size: 20px;
  color: #406c93;
}

.button3 {
  display: flex;
  justify-content: center;
  padding-bottom: 45px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 2;
}

.left-picture {
  display: flex;
}

.left-picture img {
  padding-top: 100px;
  grid-column: 2;
  display: flex;
  padding-left: 100px;
  position: relative;
  top: 30px;
  left: 100px;
}

.hotelInfo {
  flex: 1;
  position: relative;
  right: -150px;
}

.hotelLogo {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 95px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hotelLogo img {
  animation: spin 10s linear infinite; 
  position: relative;
  right: -80px;
}


.innResorts {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding-top: 100px;
  margin: 0;
}

.innResorts p {
  display: flex;
  width: 80%;
  font-family: "Bodoni Moda";
  font-size: 18px;
  font-weight: 600;
  color: #406c93;
  font-style: italic;
  margin-bottom: 10px;
  margin-left: -160px;
}
.hotelInfo h1 {
  display: flex;
  flex-direction: column;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 36px;
  color: #1f3951;
  margin-top: 10px;
  margin-left: -330px;
}

.asidePictures {
  position: relative;
  bottom: 400px;
  left: 710px;
}

.picturesAgain {
  display: flex;
  gap: 20px;
}

.pillowDesc1 {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 17px;
  color: #122230;
  margin-bottom: 0px;
}

.pillowDesc2 {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 13px;
  color: #646f78;
  margin-top: 5px;
}

.pillowPriceRed {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 16px;
  color: #ed4d4d;
  margin-top: -5px;
}

.pillowPricesReg {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 16px;
  color: #1f3951;
  margin-top: -5px;
}

.pillowPricesCrossed {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 16px;
  color: #1f3951;
  text-decoration: line-through;
  position: relative;
  bottom: 37px;
  left: 120px;
}

.button4 {
  width: 50%;
  padding-left: 150px;
  position: relative;
  bottom: 25px;
  right: 50px;
}

.locations {
  text-align: center;
  position: relative;
  bottom: 380px;
}

.locations-title {
  margin-bottom: 32px;
  font-family: "DM Sans";
  font-size: 16px;
  color: #406c93;
  font-weight: 700;
}

.location-names {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 50px;
}

.location1 {
  width: 188px;
  height: 100px;
  background-color: #ffffff;
  border: 2px solid #ffff;
  box-shadow: 0px 14px 40px #0000000F;
  border-radius: 5px;
}

.location1 p{
  padding-top: 20px;
  font-family: "DM Sans";
  font-weight: 400;
  color: #1f3951;
  font-size: 20px;
}

.see-all {
  margin-top: 45px;
}

.see-all a{
  font-family: "DM Sans";
  font-size: 13px;
  color: #1F3951;
  font-weight: 700;
  text-decoration: underline;
}


.help{
  text-align: center;
  background-color: #F8F6F6;
  position: relative;
  bottom: 300px;
  left: 20px;
  padding-top: 20px;
}

.help-title{
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 30px;
  color: #1F3951;
}

.all-help{
  display: flex;
  justify-content: space-around;
  padding-bottom: 40px;
}

.all-help h4{
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 17px;
  color: #1F3951;
}

.all-help p{
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 16px;
  color: #1F3951;
}

.bottom{
  background-color: #EFF6FB;
  position: relative;
  bottom: 260px;
  height: 500px
}

.options{
  display: flex;
  justify-content: flex-start;
}

.options p{
  padding-left: 130px;
  padding-top: 50px;
}

.contact-options{
  display: flex;
  
}

.info-options{
  position: relative;
  left: 130px;
  bottom: 15px;
  display: flex;
  flex-direction: column;
  line-height: 0.3;
}

.about-options{
  position: relative;
  left: 160px;
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.partner-options{
  position: relative;
  left: 205px;
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.info-options a{
  text-decoration: none;
  color: #1F3951;

}

.contact-options a{
  text-decoration: none;
  color: #1F3951;
  line-height: 1;
}


.about-options a{
  text-decoration: none;
  color: #1F3951;
  line-height: 1;
}

.partner-options a{
  text-decoration: none;
  color: #1F3951;
  line-height: 1;
}

.options p{
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 15px;
  color: #1F3951;
}

.contact-options p{
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 15px;
  color: #1F3951;
  
}

.contact-options a{
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 15px;
  color: #1F3951;
}

.pillow-talk{
  position: relative;
  left: 1000px;
  bottom: 320px;
}

.pillow-title{
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 24px;
  color: #1F3951;
}
.pillow-text{
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 16px;
  color: #1F3951;
}

.input-email{
  border-radius: 5px;
  border: none;
  padding: 15px;
  padding-right: 100px;
}

input::placeholder{
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 14px;
  color: #122230;
}

.sign-button{
  color: #FFFFFF;
  border-radius: 0px 5px 5px 0px;
  border: none;
  background-color: #406C93;
  padding: 15px;
}

.friends{
  align-items: center;
  position: relative;
  left: 1000px;
  bottom: 300px;
}

.friends p{
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 24px;
  color: #1F3951;
}

.friends i{
  border: 2px solid #FFFFFF;
  border-radius: 60px; 
  border-color: white;
  background-color: white;
  padding: 10px;
  color: #406C93 ;
}

footer{
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 300px;
}

footer p{
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 13px;
  color: #646F78;
  margin-left: 30px;
}

