body {
  width: 1440px;
  height: 5457px;
}

a {
  text-decoration: none;
}

body,
ul {
  margin: 0;
  padding: 0;
}

#blue_bar {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dfeef7;
}

#blue_bar_left {
  display: flex;
  justify-content: left;
  align-items: left;
  font: normal normal bold 14px/17px DM Sans;
  color: #1f3951;
}

#blue_bar_center {
  display: flex;
  align-items: center;
  text-align: center;
  font: normal normal normal 14px/17px DM Sans;
}

#blue_bar_right {
  justify-content: right;
  align-items: right;
  font: normal normal medium 14px/18px DM Sans;
}

.blue_bar_text {
  font-size: 14px;
  color: #1f3951;
  font-family: "DM Sans";
}

.blue_bar_text a {
  font-family: "DM Sans";
  font-size: 13px;
  font-weight: 400;
  color: #1f3951;
}

.blue_bar_rtext {
  font-family: "DM Sans";
  font-size: 14px;
  font-weight: 500;
  color: #1f3951;
  text-decoration: none;
}

#blue_bar_img {
  size: 12px;
}

.navbar {
  background-color: White;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  padding-left: 50px;
}

.navbar-logo img {
  size: 30px;
  color: #1f3951;
}

.navbar-links {
  align-items: center;
  list-style: none;
  font-size: 14px;
  display: flex;
  gap: 25px;
  font-family: "DM Sans";
}

.navbar-links li {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-links a {
  color: #1f3951;
  font-family: "DM Sans";
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.navbar-icons {
  display: flex;
  gap: 10px;
}

.navbar-icons i {
  padding-right: 15px;
  color: #1f3951;
  cursor: pointer;
}

#sale {
  color: #ed4d4d;
}

#girl_sleep {
  width: 100%;
}

#button_div {
  display: flex;
  justify-content: left;
}

.button {
  border-color: #406c93;
  border-width: 2px;
  text-align: center;
  font-size: 13px;
  color: #406c93;
  margin-right: 20px;
  background-color: transparent;
  height: 50px;
  border-radius: 5px;
  font-family: "DM Sans";
  padding: 15px;
}

.button2 {
  border-color: white;
  border-width: 2px;
  text-align: center;
  font-size: 13px;
  color: #1f3951;
  margin-right: 20px;
  background-color: transparent;
  height: 50px;
  border-radius: 5px;
  font-family: "DM Sans";
  padding: 15px;
}

.button:hover {
  background-color: #406c93;
  color: white;
  cursor: pointer;
  transition: 1s;
}

#main_title {
  font-size: 52px;
  font-family: "DM Sans";
  color: #1f3951;
}

#italic_part {
  color: #406c93;
  align-self: left;
  font-size: 24px;
  font-family: "Bodoni Moda, SemiBold Italic";
}

#text_part {
  color: #122230;
  font-size: 16px;
  font-family: "DM Sans";
  width: 72%;
}

#main_div {
  width: 43%;
  margin-top: -500px;
  margin-left: 50px;
}

.navbar2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  top: 210px;
  background-color: #f9f7f6;
  padding: 25px;
}

.navbar2-items {
  display: flex;
  align-items: center;
}

.navbar2-items p {
  display: flex;
  font-family: "DM Sans";
  opacity: 100%;
  font-weight: 500;
}

.navbar2-items img {
  display: flex;
  padding-right: 20px;
}

.hero {
  position: relative;
  top: 210px;
}

.hero p {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: italic normal 600 18px/27px "Bodoni Moda";
  color: #406c93;
}

.hero h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "DM Sans";
  font-size: 36px;
  color: #1f3951;
  font-weight: 700;
}

.sleeper-classes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
  top: 210px;
  padding: 40px;
  padding-left: 180px;
  padding-right: 180px;
  font-family: "DM Sans";
}

.bolded-sleeper {
  font-size: 17px;
  font-weight: 700;
  color: #1f3951;
  text-shadow: 0 5px 10px rgba(64, 108, 147, 0.5);
}

.sleepers {
  font-size: 17px;
  color: #1f3951;
  font-weight: 300;
}

.pillows-images {
  display: flex;
  padding-top: 20px;
}

.pprices {
  margin: 30px;
}
.pprices p {
  font-family: "DM Sans";
}

.pillow-name {
  font-weight: 700;
  font-size: 17px;
  color: #122230;
}

.pillow-desc {
  font-size: 13px;
  font-weight: 100;
  color: #646f78;
}

.prices {
  font-size: 16px;
  color: #1f3951;
  font-weight: 600;
}

.red-price {
  font-size: 16px;
  font-weight: 700;
  color: #ed4d4d;
}

.crossed-price {
  font-size: 16px;
  font-weight: 700;
  text-decoration: line-through;
}

.discount-price {
  font-size: 13px;
  color: #ed4d4d;
  font-weight: 700;
  text-shadow: 0 5px 10px rgba(237, 77, 77, 0.5);
}

#bed {
  margin-top: 200px;
}

#bed img {
  width: 1440px;
  height: 400px;
  object-fit: cover;
  margin-top: 80px;
}

.bed-description {
  bottom: 80%;
  margin-top: -300px;
  margin-left: 100px;
}

.bed-description p {
  font-family: "Bodoni Moda", Italic;
  color: #406c93;
  font-size: 18px;
  font-weight: 600;
}

.bed-description h1 {
  font-family: "DM Sans";
  font-weight: 700;
  color: #1f3951;
}

.button2 {
  border: none;
  border-radius: 4px;
  background-color: white;
  color: #406c93;
  font-family: "DM Sans";
  font-weight: 700;
}

#offers {
  display: flex;
  justify-content: space-evenly;
  margin-top: 200px;
}

.multiple-offers img {
  width: 406px;
  height: 530px;
}

.whitepillow-desc {
  bottom: 80%;
  margin-top: -515px;
  margin-left: 20px;
}

.shop-nowlink {
  bottom: 80%;
  margin-top: -15px;
  margin-left: 20px;
}

#offers .whitepillow-desc {
  font-family: "DM Sans";
  font-weight: 700;
  color: #1f3951;
  font-size: 28px;
}

#offers .shop-nowlink {
  font-family: "DM Sans";
  font-weight: 700;
  color: #1f3951;
  font-size: 13px;
  border: #1f3951;
  text-decoration: underline;
}

.reviews {
  margin-top: 460px;
  background-color: #eef6fa;
  padding-top: 45px;
}

.container {
  text-align: center;
}

.happy-sleepers {
  align-items: center;
}

.happy-main {
  font-family: "DM Sans";
  font-weight: 700;
  color: #1f3951;
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.happy-description {
  font-family: "DM Sans";
  color: #122230;
}

.reviews-all {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 70px;
}

.review1 {
  background-color: white;
  border: white solid;
  border-radius: 10px;
  padding: 50px;
  padding-left: 30px;
  padding-bottom: 10px;
  text-align: center;
}

.review1 h1 {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 22px;
  color: #1f3951;
}

.review1 p {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  color: #122230;
}

.review1 h3 {
  font-family: "Bodoni Moda";
  font-weight: 600;
  font-size: 20px;
  color: #406c93;
}

.button3 {
  display: flex;
  justify-content: center;
  padding-bottom: 45px;
}
