body,
ul {
  margin: 0;
  padding: 0;
}

#blue_bar {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dfeef7;
}

#blue_bar_left {
  display: flex;
  justify-content: left;
  align-items: left;
  font: normal normal bold 14px/17px DM Sans;
  color: #1f3951;
}

#blue_bar_center {
  display: flex;
  align-items: center;
  text-align: center;
  font: normal normal normal 14px/17px DM Sans;
}

#blue_bar_right {
  justify-content: right;
  align-items: right;
  font: normal normal medium 14px/18px DM Sans;
}

.blue_bar_text {
  font-size: 14px;
  color: #1f3951;
  font-family: "DM Sans";
}

.blue_bar_text a {
  font-family: "DM Sans";
  font-size: 13px;
}

#blue_bar_img {
  size: 12px;
}

.navbar {
  background-color: White;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  padding-left: 50px;
}

.navbar-logo img {
  size: 30px;
  color: #1f3951;
}

.navbar-links {
  align-items: center;
  list-style: none;
  font-size: 14px;
  display: flex;
  gap: 25px;
  font-family: "DM Sans";
}

.navbar-links li {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-links a {
  color: #1f3951;
  font-family: "DM Sans";
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.navbar-icons {
  display: flex;
  gap: 10px;
}

.navbar-icons i {
  padding-right: 15px;
  color: #1f3951;
  cursor: pointer;
}

#sale {
  color: #ed4d4d;
}

#girl_sleep {
  width: 100%;
}

#button_div {
  display: flex;
  justify-content: left;
}

.button {
  border-color: #406c93;
  border-width: 2px;
  text-align: center;
  font-size: 13px;
  color: #406c93;
  margin-right: 20px;
  background-color: transparent;
  height: 50px;
  border-radius: 5px;
  font-family: "DM Sans";
  padding: 15px;
}

.button2 {
  border-color: white;
  border-width: 2px;
  text-align: center;
  font-size: 13px;
  color: #1f3951;
  margin-right: 20px;
  background-color: transparent;
  height: 50px;
  border-radius: 5px;
  font-family: "DM Sans";
  padding: 15px;
}

.button:hover {
  background-color: #406c93;
  color: white;
  cursor: pointer;
  transition: 1s;
}

#main_title {
  font-size: 52px;
  font-family: "DM Sans";
  color: #1f3951;
}

#italic_part {
  color: #406c93;
  align-self: left;
  font-size: 24px;
  font-family: "Bodoni Moda, SemiBold Italic";
}

#text_part {
  color: #122230;
  font-size: 16px;
  font-family: "DM Sans";
  width: 72%;
}

#main_div {
  width: 43%;
  margin-top: -600px;
  margin-left: 50px;
}

.navbar2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  top: 210px;
  background-color: #f9f7f6;
  padding: 25px;
}

.navbar2-items {
  display: flex;
  align-items: center;
}

.navbar2-items p {
  display: flex;
  font-family: "DM Sans";
  opacity: 100%;
  font-weight: 500;
}

.navbar2-items img {
  display: flex;
  padding-right: 20px;
}
